body {
    padding : 0;
    margin: 0;
}

.game {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    background: url(aline-costa-neve.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


img {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    position: relative;
    top: 120px;
}

.block {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 95px;
    left: 99%;
    animation: block 2s infinite linear;
}

.animate {
    animation: jump 500ms; 
}

@keyframes block {
    0% {left: 100%;}
    100% {left: 0%}
}

@keyframes jump {
    0% {top: 120px}
    20% {top: 50px}
    80% {top: 50px}
    100% {top:120px}
}

body {
    background-color: black;
    
}

h1 {
    color: white;
    text-align: center;
}

p {
    text-align: center;
    color: white;
}

.umu2 {
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.restart {
    display: flex;
    justify-content: center;

}

button {
    margin-top: 10px;
    height: 40px;
    width: 200px;
    border-radius: 60px;
}